{% include "layout/header.html" %}
{% include "layout/navbar.html" %}
<script>
    function konfirmasiHapus(userId) {
        var konfirmasi = confirm("Apakah Anda yakin ingin menghapus pengguna ini?");
        if (konfirmasi) {
            hapus_akun(userId);
        }
    }

    function hapus_akun(userId) {
        $.ajax({
            type: 'POST',
            url: '/delete/admin-peserta/' + userId,
            data: {},
            success: function (response) {
                if (response.status === 'success') {
                    alert(response.msg);
                    window.location.reload()
                }
            },
            error: function (xhr, status, error) {
                console.error('Terjadi kesalahan:', error);
            }
        })
    }
</script>
<section>
    <div class="d-flex py-3 gap-4 container-dashboard">
        <!-- Sidebar -->
        {% include "layout/sidebar.html" %}
        <!-- end sidebar -->

        <!-- content -->
        <!-- <div class="col content"> -->
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Section Table -->
                    <div class="section-table">
                        <div class="card border-0 format-shadow p-2">
                            <div class="card-body">
                                <div class="d-flex align-items-center justify-content-between">
                                    <div>
                                        <h5 class="card-title">Fortissimo | <span class="text-muted">Peserta</span></h5>
                                    </div>
                                    <form action="/peserta" method="get">
                                        <div class="d-flex align-items-center gap-2">
                                            <input class="form-control format-search" type="search" name="search"
                                                placeholder="Search" aria-label="Search" />
                                            <button style="padding: 0.375rem 0.75rem"
                                                class="btn btn-sm btn-outline-dark" type="submit">
                                                <i class="bi bi-search"></i>
                                            </button>
                                        </div>
                                    </form>
                                </div>
                                <div class="table-responsive mt-4">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">No</th>
                                                <th scope="col">Nama Peserta</th>
                                                <th scope="col">Alamat</th>
                                                <th scope="col">Email</th>
                                                <th scope="col">Telepon</th>
                                                <th scope="col">Instrument</th>
                                                <th scope="col">Aksi</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            {% for item in daftar_items %}
                                            {% if item.status == 'Approve' %}
                                            <tr>
                                                <th scope="row">{{ loop.index }}</th>
                                                <td>
                                                    <div class="d-flex align-items-center">
                                                        <div>
                                                            {{ item.nama }}
                                                            <br />
                                                            <small class="text-muted">{{ item.umur }} Tahun</small>
                                                        </div>
                                                    </div>
                                                </td>
                                                <td>{{ item.alamat }}</td>
                                                <td>{{ item.email }}</td>
                                                <td>{{ item.nohp }}</td>
                                                <td>{{ item.instrumen }}</td>
                                                <td>
                                                    <a href="/edit-peserta/{{ item._id }}"
                                                        class="btn btn-sm btn-warning">
                                                        <i class="bi bi-pencil"></i>
                                                    </a>
                                                    <a href="#" class="btn btn-sm btn-danger"
                                                        onclick="konfirmasiHapus('{{ item._id }}')">
                                                        <i class="bi bi-trash"></i>
                                                    </a>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                    <nav>
                                        <ul class="pagination justify-content-end" id="pagination">
                                            <!-- Pagination buttons will be inserted here by JavaScript -->
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- </div> -->
        <!-- end content -->
    </div>
</section>
{% include "layout/footer.html" %}