{% include 'layout-index/header.html' %}
<script>
  function testimoni() {
    var nama = $('#input-name').val();
    var email = $('#input-email').val();
    var subject = $('#input-subject').val();
    var testimoni = $('#input-testimoni').val();

    // Log nilai yang diambil untuk debugging
    console.log('Testimoni value:', testimoni);
    console.log('Sending data:', {
      testimoni_give: testimoni,
      nama_give: nama,
      email_give: email,
      subject_give: subject,
    });

    $.ajax({
      type: 'POST',
      url: '/testimoni/save',
      data: {
        testimoni_give: testimoni,
        nama_give: nama,
        email_give: email,
        subject_give: subject,
      },
      success: function (response) {
        if (response.msg === undefined || response.msg === null) {
          alert('Anda belum melakukan login. Lakukan login terlebih dahulu untuk mengisi testimoni.');
          window.location.href = '/login'; // Redirect ke halaman login jika pesan tidak terdefinisi
        } else {
          alert(response.msg);
          window.location.reload();
        }
      },
      error: function (xhr, status, error) {
        console.error('Error:', error);  // Log error ke konsol untuk debug
        alert('Terjadi kesalahan. Silakan coba lagi nanti.');  // Tampilkan pesan kesalahan kepada pengguna
      }
    });
  }

</script>

<body>
  <div class="wrapper">
    <section class="bg-header">
      <div class="row">
        <div class="col-lg-12">
          <div class="bg-menu">
            {% include "layout-index/navbar.html" %}
          </div>
        </div><!-- .col-lg-12 -->
        <div class="col-lg-12">
          <div class="banner">
            <div class="bg-text-banner">
              <div class="text-banner">
                <h1>Welcome To Fortissimo</h1>
                <p>Apakah kamu selalu ingin bermain piano seperti seorang profesional? Sekarang adalah saat yang tepat
                  untuk memulai! Master the Keys: Comprehensive Piano Lessons for All Levels adalah kursus yang
                  dirancang untuk membantu kamu menguasai piano, baik kamu seorang pemula yang baru mengenal tuts piano
                  atau seorang pemain yang ingin meningkatkan keterampilanmu ke tingkat yang lebih tinggi.</p>
                <a href="#description"><button class="btn-banner">Learn More</button></a>
              </div>
            </div>
          </div>
        </div><!-- .col-lg-12 -->
      </div>
    </section>

    <section class="bg-description">
      <div class="wrap-center row">

        <div class="col-lg-12">
          <div class="judul" id="description">
            <h3 class="sub">Description</h3>
            <h1>What you should know about us</h1>
          </div>


          <div class="description">
            <div class="col-lg-3 col-md-3">
              <div class="gambar-description">
                <img src="{{ url_for('static', filename='image-index/logo.jpg') }}" alt="" width="100%">
              </div>
            </div>
            <div class="col-lg-9 col-md-9">
              <div class="text-description">
                <h1>Fortissimo Course</h1>
                <p>Fortissimo merupakan kursus musik piano yang dirancang untuk membantu Anda menguasai seni bermain
                  piano, dari tingkat pemula hingga mahir. Kami menawarkan berbagai program yang sesuai dengan kebutuhan
                  dan tujuan Anda, mulai dari pelajaran individual dengan guru berpengalaman hingga kelas grup yang
                  menyenangkan dan interaktif.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="bg-popular">
      <div class="wrap-center row">

        <div class="col-lg-12" id="popular">
          <div class="judul">
            <h3 class="sub">Package</h3>
            <h1>Choose Your Package</h1>
          </div>
        </div><!-- col-12 -->

        <div class="col-lg-12">
          <div class="card-container">
            <div class="card">
              <h5>Package Kids</h5>
              <ul>
                <li>
                  <div style="display: flex; justify-content: space-between;">
                    <p>30 minutes</p>
                    <p>550k</p>
                  </div>
                </li>
                <li>
                  <div style="display: flex; justify-content: space-between;">
                    <p>45 minutes</p>
                    <p>580k</p>
                  </div>
                </li>
                <li>
                  <div style="display: flex; justify-content: space-between;">
                    <p>60 minutes</p>
                    <p>620k</p>
                  </div>
                </li>
                <p style="text-align: end; margin-top: 30px;">+ admission fee 50k</p>
              </ul>
              {% if user_info %}
              <form action="/daftar/{{ user_info.username }}">
                <button type=" submit" class="btn-card">Tertarik</button>
              </form>
              {% else %}
              <form action="login">
                <button type=" submit" class="btn-card">Tertarik</button>
              </form>
              {% endif %}
            </div>
            <div class="card">
              <h5>Package Adult</h5>
              <ul>
                <li>
                  <div style="display: flex; justify-content: space-between;">
                    <p>30 minutes</p>
                    <p>570k</p>
                  </div>
                </li>
                <li>
                  <div style="display: flex; justify-content: space-between;">
                    <p>45 minutes</p>
                    <p>600k</p>
                  </div>
                </li>
                <li>
                  <div style="display: flex; justify-content: space-between;">
                    <p>60 minutes</p>
                    <p>655k</p>
                  </div>
                </li>
                <p style="text-align: end; margin-top: 30px;">+ admission fee 50k</p>
              </ul>
              {% if user_info %}
              <form action="/daftar/{{ user_info.username }}">
                <button type=" submit" class="btn-card">Tertarik</button>
              </form>
              {% else %}
              <form action="login" method="get">
                <button type=" submit" class="btn-card">Tertarik</button>
              </form>
              {% endif %}
            </div>
          </div>
        </div>
        <!-- card -->
      </div>
    </section>

    <section class="timeline-wrapper" id="hide">
      <div class="judul">
        <h3 class="sub">Registration</h3>
        <h1>Registration Flow</h1>
      </div>
      <div class="middle-line"></div>

      <div class="box box-top">
        <div class="poin">
          <p>5</p>
        </div>
        <div class="box-content">
          <p>Prosess pendaftaran selesai, selamat bergabung.</p>
        </div>
      </div>

      <div class="box box-bottom">
        <div class="poin">
          <p>4</p>
        </div>
        <div class="box-content">
          <p>Melakukan pembayaran awal melalui transfer</p>
        </div>
      </div>

      <div class="box box-top">
        <div class="poin">
          <p>3</p>
        </div>
        <div class="box-content">
          <p>Melakukan Konfirmasi melalui email atau Whatsapp bahwa sudah melakukan pendaftaran</p>
        </div>
      </div>

      <div class="box box-bottom">
        <div class="poin">
          <p>2</p>
        </div>
        <div class="box-content">
          <p>Memasuki halaman form pendaftaran, dan mengisi data yang di minta</p>
        </div>
      </div>

      <div class="box box-top">
        <div class="poin">
          <p>1</p>
        </div>
        <div class="box-content">
          <p>Registrasi akun dan melakukan login kedalam website</p>
        </div>
      </div>
    </section>

    <section class="bg-gallery" id="gallery">
      <div class="wrap-center row">
        <div class="col-lg-12">
          <div class="judul">
            <h3 class="sub">Gallery</h3>
            <h1>Mini gallery about Us</h1>
          </div>
        </div><!-- col-12 -->

        <div class="col-lg-6">
          <div class="gallery">
            <img src="{{ url_for('static', filename='image-index/gallery/1.jpg') }}">
            <div class="bg-text-gallery">
              <div class="text-gallery">
                <h1> Gallery Image #1</h1>
                <p>
                  Proses Pembelajaran
                </p>
              </div>
            </div>
          </div>
        </div><!-- col-6 -->

        <div class="col-lg-6">
          <div class="gallery">
            <img src="{{ url_for('static', filename='image-index/gallery/2.jpg') }}">
            <div class="bg-text-gallery">
              <div class="text-gallery">
                <h1> Gallery Image #2</h1>
                <p>
                  Proses Pembelajaran
                </p>
              </div>
            </div>
          </div>
        </div><!-- col-6 -->

        <div class="col-lg-6">
          <div class="gallery">
            <img src="{{ url_for('static', filename='image-index/gallery/3.jpg') }}">
            <div class="bg-text-gallery">
              <div class="text-gallery">
                <h1> Gallery Image #3</h1>
                <p>
                  Proses Pembelajaran
                </p>
              </div>
            </div>
          </div>
        </div><!-- col-6 -->

        <div class="col-lg-6 col-md-6 col-sm-6">
          <div class="gallery">
            <img src="{{ url_for('static', filename='image-index/gallery/4.jpg') }}">
            <div class="bg-text-gallery">
              <div class="text-gallery">
                <h1> Gallery Image #4</h1>
                <p>
                  Proses Pembelajaran
                </p>
              </div>
            </div>
          </div><!-- col-6 -->



        </div><!-- col-6 -->

      </div>
    </section>
    <section id="testimoni">
      <div class="container">
        <div class="col-lg-12">
          <div class="judul">
            <h3 class="sub">Testimoni</h3>
            <h1>Customer</h1>
          </div>
        </div>
        <div class="carousel">
          <div class="carousel-inner">
            {% for user in testimoni_data %}
            <div class="carousel-item">
              <img src="{{ url_for('static', filename='image-index/banner/bg.png') }}" alt="Image 1">
              <div class="text-testimoni">
                <h2>{{ user.nama }}</h2>
                <p>"{{ user.testimoni }}"</p>
              </div>
            </div>
            {% endfor %}
          </div>
          <button class="carousel-control prev" onclick="prevSlide()">&#10094;</button>
          <button class="carousel-control next" onclick="nextSlide()">&#10095;</button>
        </div>
      </div>
    </section>
    <section class="bg-contact">
      <div class="wrap-center row">
        <div class="col-lg-12">
          <div class="judul">
            <h3 class="sub">Contact</h3>
            <h1>Get in Touch</h1>
          </div>
        </div><!-- col-12 -->
        <div class="col-lg-6 col-md-6">
          <div class="contact">
            <input type="text" name="name" placeholder="Enter Your Name" id="input-name">
          </div>
        </div><!-- col-6 -->

        <div class="col-lg-6 col-md-6">
          <div class="contact">
            <input type="email" name="email" placeholder="Enter Your Email" id="input-email"
              value="{{ user_info.email }}">
          </div>
        </div><!-- col-6 -->

        <div class="col-lg-12 col-md-12">
          <div class="contact">
            <input type="text" name="subject" placeholder="Subject" id="input-subject">
          </div>
        </div><!-- col-6 -->
        <div class="col-lg-12">
          <div class="contact">
            <textarea placeholder="Enter Your Comments" rows="10" name="testimoni" id="input-testimoni"></textarea>
          </div>
        </div><!-- col-12 -->

        <div class="col-lg-12">
          <div class="contact">
            <button class="btn-send" onclick="testimoni()">Submit Comment</button>
          </div>
        </div><!-- col-12 -->
      </div>
    </section>

    {% include "layout-index/footer.html" %}

  </div>

  <script>
    let currentIndex = 0;

    function showSlide(index) {
      const slides = document.querySelectorAll('.carousel-item');
      if (index >= slides.length) {
        currentIndex = 0;
      } else if (index < 0) {
        currentIndex = slides.length - 1;
      } else {
        currentIndex = index;
      }
      const offset = -currentIndex * 100;
      document.querySelector('.carousel-inner').style.transform = `translateX(${offset}%)`;
    }

    function nextSlide() {
      showSlide(currentIndex + 1);
    }

    function prevSlide() {
      showSlide(currentIndex - 1);
    }

    document.addEventListener('DOMContentLoaded', () => {
      showSlide(currentIndex);
    });
  </script>
</body>

</html>